@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');:root {
   --sans-pro: 'Source Sans Pro', sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--sans-pro);
}

::selection {
   background: transparent;
   color: #5c25a5;
}

body {
   overflow: hidden;
   > * {
      height: 100vh;
      width: 100vw;
      // background: linear-gradient(45deg, #fff, #ff3848);
   }
}

.flex {
   display: flex;
}

.flex.outer {
   justify-content: space-between;
   // gap: 2em;
}

.flex.inner {
   justify-content: center;
}

.btn {
   font-size: 1.5em;
   padding: 0.25em 1em;
   cursor: pointer;
   border: 2px solid;
   background-color: transparent;
   border-radius: 10px;
   transition: background-color 0.5s ease;
   color: hsl(240, 100%, 50%);

   &:hover {
      color: #222222a0;
      outline: none;
   }
}

.center {
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

p,
h1 {
   text-align: center;
   word-wrap: break-word;
}

em {
   color: hsl(240, 100%, 50%);
}

.home-page {
   background: linear-gradient(#ff3848aa), url("https://images.pexels.com/photos/8386434/pexels-photo-8386434.jpeg?auto=compress&cs=tinysrgb&h=900&w=900"); /* Photo by Tara Winstead from Pexels */
   background-size: cover;
   padding: 0 20%;

   h1 {
      font-size: 2.5em;
   }

   h3 {
      font-size: 2em;
   }

   p {
      color: #222222a0;
      margin: 1em 0 2em;
      font-size: 1.2em;
   }
}

.setup-page {
   background: linear-gradient(#0000ff50), url("https://images.pexels.com/photos/590037/pexels-photo-590037.jpeg?auto=compress&cs=tinysrgb&h=900&w=900");
   background-size: cover;
    > div {
      width: 25em;
      margin-top: 1em;

      > div {
         width: 12em;

      }
   }

   label {
      font-weight: 800;
      line-height: 40px;
   }

   input {
      margin: 0 0 1em;
      height: 2em;
      width: 100%;
      max-width: 20em;
      font-size: 1.25em;
      background: transparent;
      border: 2px solid #0000ffa0;
      border-radius: 10px;
      outline: none;
      padding: 0 10px;

      &:focus {
         border-color: #0000ffa0;
         color: #0000ffa0;
         box-shadow: 0 0 .25em;
      }
   }
}

.page-ready {
   background: repeating-linear-gradient(90deg, #0000ff50, #ff3848), repeating-linear-gradient(90deg, #0000ff50, #ff3848);

   text-align: center;
   position: relative;

   h1 {
      font-size: 3em;
   }
   p, strong {
      max-width: 90vw;
      word-wrap: break-word;
      margin: 5px 0;
   }
   .btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
   }
}

.page-ask {
   background: linear-gradient(180deg, #ffff89aa, #5c25a5aa), url("https://source.unsplash.com/daily?technology");
   background-size: cover;
   mix-blend-mode: multiply;

   h1 {
      font-size: 3em;

      strong {
         color: #222222a0;
      }
   }
   .search-input {
      margin: 1em 1em 1em;
      border-radius: 20px;
      border: 2px solid #0000ffa0;
      padding: 5px 8px;

      > * {
         background: transparent;
         border: none;
         outline: none;
      }

      input {
         font-size: 1.15em;
      }

      .btn {
         padding: 0;
         color: #000;

         &:hover,
         &:focus {
            color: #0000ffa0;
         }
      }
   }

   .answer {
      text-align: center;
      max-width: 786px;
      margin: 2vh auto;
      line-height: 1.5em;
      color: #222;
      font-weight: 600;
      font-family: sans-serif;
      // border-radius: 10px;
      // padding: 1em;
   }
}