@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');:root {
   --sans-pro: 'Source Sans Pro', sans-serif;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: var(--sans-pro);
}

::selection {
   background: transparent;
   color: #5c25a5;
}

body {
   overflow: hidden;
   > * {
      height: 100vh;
      width: 100vw;
   }
}

.center-txt {
   text-align: center;
}

.flex {
   display: flex;
}

.outer {
   justify-content: space-between;
   gap: 1em;
}

.inner {
   justify-content: center;
}

.btn {
   font-size: 1.5em;
   padding: 0.25em 1em;
   cursor: pointer;
   border: 2px solid;
   background-color: transparent;
   border-radius: 10px;
   transition: background-color 0.5s ease;
   color: hsl(240, 100%, 50%);

   &:hover {
      color: #222222a0;
      outline: none;
   }
}

.round-btn {
   position: relative;
   border-radius: 50%;
   cursor: pointer;
   padding: .2em;
   transition: transform 1s, background 1s linear;
   
   &:hover,
   &:focus,
   &.round-btn--active {
      background: #d1d1d1;
      transform: rotate(90deg);
   }
}

.center {
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

p,
h1 {
   text-align: center;
   word-wrap: break-word;
}

em {
   color: hsl(240, 100%, 50%);
}

.home-page {
   background: linear-gradient(#ff3848aa), url("Assets/AI-home.jpg"); /* Photo by Tara Winstead from Pexels */
   background-size: cover;
   padding: 0 20%;

   h1 {
      font-size: 2.5em;
   }

   h3 {
      font-size: 2em;
   }

   p {
      color: #222222a0;
      margin: 1em 0 2em;
      font-size: 1.2em;
   }
}

.setup-page {
   background: linear-gradient(#0000ff50), url("Assets/AI-form.jpg");
   background-size: cover;

   h1 {
      font-size: clamp(1em, calc(2vw + 1rem), 5rem);
   }

    > div {
      width: clamp(25vw, calc(300px + 1vw), 100vw);
      margin-top: 1em;

      > input {
         width: clamp(25vw, 20em, 100%);

      }

      > div {
         width: 100%;
         
         input {
            width: 100%;
         }
      }
   }

   label {
      font-weight: 800;
      line-height: 40px;
   }

   input {
      margin: 0 0 1em;
      height: 2em;
      font-size: 1.25em;
      background: transparent;
      border: 2px solid #0000ffa0;
      border-radius: 10px;
      outline: none;
      padding: 0 10px;

      &:focus {
         border-color: #0000ffa0;
         color: #0000ffa0;
         box-shadow: 0 0 .25em;
      }
   }
}

.page-ready {
   background: repeating-linear-gradient(90deg, #0000ff50, #ff3848), repeating-linear-gradient(90deg, #0000ff50, #ff3848);

   text-align: center;
   position: relative;

   h1 {
      font-size: 3em;
   }
   p, strong {
      max-width: 90vw;
      word-wrap: break-word;
      margin: 5px 0;
   }
   .btn {
      position: absolute;
      right: 20px;
      bottom: 20px;
   }
}

.page-ask {
   position: relative;
   background: linear-gradient(to left, #4CB8C4AA, #3CD3ADAA), url("https://source.unsplash.com/daily?technology") center center;
   background-size: cover;
   mix-blend-mode: multiply;

   h1 {
      font-size: 3em;

      strong {
         color: #222222a0;
      }
   }
   .search-input {
      margin: 1em 1em 1em;
      border-radius: 20px;
      border: 2px solid #0000ffa0;
      padding: 5px 8px;

      > * {
         background: transparent;
         border: none;
         outline: none;
      }

      input {
         font-size: 1.15em;
      }

      .btn {
         padding: 0;
         color: #000;

         &:hover,
         &:focus {
            color: #0000ffa0;
         }
      }
   }

   .answer {
      display: flex;
      flex-direction: column;
      justify-content: center;

      text-align: center;
      margin: 2vh auto;
      max-width: 98vw;
      min-width: 300px;

      line-height: 1.5em;
      color: #222;
      font-weight: 600;
      font-family: sans-serif;
   }

   nav {
      position: absolute;
      top: 0;
      left: 0;

      height: 10vh;
      width: 100vw;

      display: grid;
      grid-template-columns: 1fr 8fr 1fr;
      grid-template-areas: "profile links settings";

      // background: rgba(#000, .3);

      .settings {
         grid-area: settings;
         display: flex;
         justify-content: center;
         align-items: center;

         display: none; // will change in developing time
         
         img {
            height: 80%;
            aspect-ratio: 1 / 1;
         }
      }

      .links {
         grid-area: links;
      }

      .profile {
         grid-area: profile;
      }
   }
}