@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap");
@font-face {
  font-family: "Segoe UI Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./Fonts/segoe-ui-4-cufonfonts-webfont/Segoe UI.woff") format("woff");
}

@font-face {
  font-family: "Segoe UI Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./Fonts/segoe-ui-4-cufonfonts-webfont/Segoe UI Bold.woff") format("woff");
}

:root {
  --sans-pro: "Source Sans Pro", sans-serif;
  --segoe: "Segoe UI Regular", sans-serif;
  --segoe-bold: "Segoe UI Bold", sans-serif;
  --ubuntu: "Ubuntu", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: var(--ubuntu);
  font-weight: 300;
  scrollbar-width: thin;
}

::-moz-selection {
  background: #f2ff38;
  color: #222;
}

::selection {
  background: #f2ff38;
  color: #222;
}

body {
  overflow: hidden;
}

body > * {
  height: 100vh;
  width: 100vw;
}

.warned-btn {
  color: red;
  cursor: pointer;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong,
em,
b,
button {
  font-weight: 700;
}

.center-text {
  text-align: center;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.outer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1em;
}

.inner {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  font-size: 1.5em;
  padding: 0.25em 1em;
  cursor: pointer;
  border: 2px solid;
  background-color: transparent;
  border-radius: 10px;
  -webkit-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  color: blue;
}

.btn:hover {
  color: #222222a0;
  outline: none;
}

.round-btn {
  position: relative;
  border-radius: 50%;
  cursor: pointer;
  padding: 0.2em;
  -webkit-transition: background 1s linear, -webkit-transform 1s;
  transition: background 1s linear, -webkit-transform 1s;
  transition: transform 1s, background 1s linear;
  transition: transform 1s, background 1s linear, -webkit-transform 1s;
}

.round-btn:hover, .round-btn:focus, .round-btn.round-btn--active {
  background: #d1d1d1;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.flex-row {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.flex-col {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

p,
h1 {
  text-align: center;
  word-wrap: break-word;
}

em {
  color: blue;
}

.home-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#ff3848aa)), url("Assets/AI-home.jpg");
  background: linear-gradient(#ff3848aa), url("Assets/AI-home.jpg");
  /* Photo by Tara Winstead from Pexels */
  background-size: cover;
  padding: 0 20%;
}

.home-page h1 {
  font-size: 2.5em;
}

.home-page h3 {
  font-size: 2em;
}

.home-page p {
  color: #222222a0;
  margin: 1em 0 2em;
  font-size: 1.2em;
}

.setup-page {
  background: -webkit-gradient(linear, left top, left bottom, from(#0000ff50)), url("Assets/AI-form.jpg");
  background: linear-gradient(#0000ff50), url("Assets/AI-form.jpg");
  background-size: cover;
}

.setup-page h1 {
  font-size: clamp(1em, calc(2vw + 1rem), 5rem);
}

.setup-page > div {
  width: clamp(25vw, calc(300px + 1vw), 100vw);
  margin-top: 1em;
}

.setup-page > div > input {
  width: clamp(25vw, 20em, 100%);
}

.setup-page > div > div {
  width: 100%;
}

.setup-page > div > div input {
  width: 100%;
}

.setup-page label {
  font-weight: 800;
  line-height: 40px;
}

.setup-page input {
  margin: 0 0 1em;
  height: 2em;
  font-size: 1.25em;
  background: transparent;
  border: 2px solid #0000ffa0;
  border-radius: 10px;
  outline: none;
  padding: 0 10px;
}

.setup-page input:focus {
  border-color: #0000ffa0;
  color: #222;
  -webkit-box-shadow: 0 0 0.25em;
          box-shadow: 0 0 0.25em;
}

.page-ready {
  background: repeating-linear-gradient(90deg, #0000ff50, #ff3848), repeating-linear-gradient(90deg, #0000ff50, #ff3848);
  text-align: center;
  position: relative;
}

.page-ready h1 {
  font-size: 3em;
}

.page-ready p,
.page-ready strong {
  max-width: 90vw;
  word-wrap: break-word;
  margin: 5px 0;
}

.page-ready .btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
}

.page-ask {
  position: relative;
  background: -webkit-gradient(linear, right top, left top, from(#4cb8c4aa), to(#3cd3adaa)), url("https://source.unsplash.com/daily?technology") center center;
  background: linear-gradient(to left, #4cb8c4aa, #3cd3adaa), url("https://source.unsplash.com/daily?technology") center center;
  background-size: cover;
  mix-blend-mode: multiply;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-ask-header {
  width: 100vw;
}

.page-ask-header .welcome {
  width: 95vw;
  padding-top: 2vh;
  font-size: calc(2em + 1vw);
  line-height: 1;
  margin: 0.25em;
}

.page-ask-header .welcome strong {
  color: blue;
  font-weight: 900;
}

.page-ask-header nav {
  display: none;
  justify-self: flex-end;
  height: 10vh;
  width: 6vw;
  background: rgba(0, 0, 0, 0.3);
}

.page-ask-header nav .settings img {
  height: clamp(3rem, calc(3em + 1vw), 4rem);
  aspect-ratio: 1 / 1;
}

.page-ask-header nav .settings p {
  text-align: left;
  margin-bottom: 1em;
}

.page-ask-header nav .settings-page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
}

.page-ask-header nav .settings-page section aside.settings-titles {
  height: 100vh;
  width: 250px;
  background: #e3e5eea0;
  position: fixed;
}

@media (max-width: 480px) {
  .page-ask-header nav .settings-page section aside.settings-titles {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    z-index: 1;
  }
}

.page-ask-header nav .settings-page section aside.settings-titles .settings-page-title {
  background-color: #cacedba0;
  text-align: center;
  height: 10vh;
  line-height: 10vh;
  border-bottom: 2px solid #000;
  margin-bottom: 5vh;
  font-size: clamp(1.75em, calc(1em + 0.5vw), 3em);
  word-wrap: break-word;
  word-break: break-all;
}

.page-ask-header nav .settings-page section aside.settings-titles h2 {
  width: calc(100% - 1em);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  gap: 0.5em;
  padding-left: 2vw;
  padding-top: 1em;
  padding-bottom: 1em;
  height: 1.5em;
  margin: 0.5em 0 0.5em 0.5em;
}

.page-ask-header nav .settings-page section aside.settings-titles h2:hover {
  background-color: #cacedb;
  border-radius: 0px 8px 8px 0;
}

.page-ask-header nav .settings-page section aside.settings-titles h2 img {
  width: clamp(1em, calc(1em + 1vw), 1.75em);
}

.page-ask-header nav .settings-page section aside.settings-titles h2.active {
  background-color: #cacedb;
  border-radius: 0px 5px 5px 0;
  border-left: 2px solid #5c25a5;
}

.page-ask-header nav .settings-page section main.settings-tiles {
  background-color: #6767f1;
  word-wrap: break-word;
  word-break: break-all;
  padding-top: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  overflow-x: auto;
}

.page-ask-header nav .settings-page section main.settings-tiles > * + * {
  margin-top: 2vh;
}

.page-ask-header nav .settings-page section main.settings-tiles h1 {
  font-size: clamp(2em, calc(2em + 1vw), 3.5em);
  text-align: left;
  margin-bottom: 3vh;
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components {
  word-wrap: break-word;
  word-break: break-all;
  background-color: #00000050;
  width: calc(100vw - 5vw - 250px);
  margin: 2vh 0;
  padding: 2vh;
  border-radius: 20px;
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components .settings-second-components {
  word-wrap: break-word;
  word-break: break-all;
  background-color: #00000030;
  padding: 2vh;
  border-radius: 10px;
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components .settings-second-components + .settings-second-components {
  margin-top: 5vh;
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components h3 {
  margin-bottom: 0.5em;
  font-size: clamp(1em, calc(0.75em + 0.75vw), 2em);
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components h2 {
  margin-bottom: 1em;
  font-size: clamp(1.5em, calc(1em + 1vw), 2.5em);
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input {
  word-wrap: break-word;
  word-break: break-all;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: transparent;
  font-size: clamp(1em, calc(0.75em + 1vw), 1.5em);
  margin-top: 0.5em;
  border: none;
  outline: none;
  font-weight: 400;
  min-width: 20px;
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input[type="text"], .page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input[type="email"], .page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input[type="number"], .page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input[type="tel"] {
  width: calc(100vw - 25vw - 250px);
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input[type="color"] {
  width: 10%;
}

.page-ask-header nav .settings-page section main.settings-tiles .settings-minute-components input:focus {
  border-bottom: 2px solid #000;
  font-weight: 300;
}

.page-ask-header nav .settings-page section main.settings-tiles .warned-btn {
  padding: 0.25em 0.5em;
  margin-left: 2px;
}

.page-ask-header nav .settings-page section main.settings-tiles .warned-btn:hover, .page-ask-header nav .settings-page section main.settings-tiles .warned-btn:focus {
  outline: 2px dashed;
  display: inline-block;
}

.page-ask .search-input {
  -ms-flex-item-align: center;
      align-self: center;
  width: 100vw;
  height: 6vh;
  margin: 0 auto;
  border: 2px solid #0000ffa0;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-ask .search-input > * {
  background: transparent;
  border: none;
  outline: none;
}

.page-ask .search-input input {
  padding: 0 5px;
  width: 100%;
  font-size: 1.15em;
}

.page-ask .search-input .btns {
  width: 5vw;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.page-ask .search-input .btns > * {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border: none;
  background-color: #0000ff50;
}

.page-ask .search-input .btns > *:hover, .page-ask .search-input .btns > *:focus {
  color: #0000ffa0;
}

.page-ask .answer {
  font-weight: 400 !important;
  max-width: 95vw;
  max-height: 90vh;
  margin: 0 auto;
  overflow-y: auto;
  line-height: 1.75em;
  color: #222;
  font-weight: 600;
  font-size: clamp(1.5em, calc(1em + 1vw), 2em);
  scrollbar-color: #ff3848 #5c25a5;
}

.page-ask .answer div + div {
  border-top: 2px solid rgba(33, 33, 33, 0.627);
  margin-top: 0.3vh;
}

.page-ask .answer div + div h3 {
  text-align: left;
  -webkit-text-decoration: underline 2px rgba(53, 49, 49, 0.8);
          text-decoration: underline 2px rgba(53, 49, 49, 0.8);
}

.page-ask .answer div + div p {
  text-align: left;
}

.page-ask .answer div + div p::first-letter {
  text-transform: uppercase;
}
/*# sourceMappingURL=style.css.map */